@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
}

:root{
  --primary-bg: #1E1B2A;
  --secundary-bg: #292638;
  --primary-text: #E1E1E6;
  --secundary-text: #B3B3BC;
  --highlight: #6D4BFF;
  --alert: #FF4B5C;
}

.primary-bg{
  background-color: var(--primary-bg);
}

.secundary-bg{
  background-color: var(--secundary-bg);
}

.primary-text{
  color: var(--primary-text);
}

.secundary-text{
  color: var(--secundary-text);
}

.highlight{
  background-color: var(--highlight);
}

.alert{
  background-color: var(--alert);
}
